@charset "utf-8";


@media screen and (max-width:767px){
    
/* 헤더 영역 */
header{
    width:100%;
    z-index:1000;
    position:absolute;
    height:60px

}
.header_inner{
    background-color: #E30613;
    width:100%;
}
.header_inner h1{
    text-align:center;
}
.header_inner h1 > img{
    cursor: pointer;
}
.total_btn{
    position:absolute;top:5px;
    font-size:2rem;
    padding:3px;
    cursor: pointer;
    color: #ffffff;
    left:440px;
}
legend{
    display:none;
}
.search{
    color: #ffffff;
    position:relative;
    width: 100%;
    top: 20px; left: 170px;
}
.c_btn i.fa-times{
    position:absolute;
    top:3px; 
    font-size: 40px;
}
input{
    width:40%;
    border: 1px solid #bbb;
    border-radius: 50px;
    padding: 11px 20px;
    font-size: 12px;
}
.search i.fa-search{
    position: absolute;
    font-size: 25px;
    top: 8px;
    right: 200px;
    margin: 0;
}



/* 메인 영역 */
main{

}
.slide{
    display:grid;
    grid-gap:55px 25px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "burger1 burger2"
    "chicken1 chicken2";
}
.slide .burger1{grid-area:burger1;}
.slide .burger2{grid-area:burger2;}
.slide .chicken1{grid-area:chicken1;}
.slide .chicken2{grid-area:chicken2;}

.set{
    padding: 20px 1.5%;
}
}
.set > ul{
    width:100%;
    text-align: center;
}
.set > h2{
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    color: #ffffff;
}
.set > ul p{
    font-size:0.75rem;
    line-height: 260%;
}
.set > ul .price{
    font-weight:bold;
    /* text-align: right; */
}
.mnew{
    background-color: #ff0000;
    text-align: center;
    border-radius: 100px;
    margin:10px auto;
}
.map > h2{
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    color: #ffffff;
}
.m_name{
    background-color: #ff0000;
    text-align: center;
    border-radius: 100px;
    margin:10px auto;
}
.l_img .l_eatz > img{
    width:100%;
    bottom: 10px;
    cursor: auto;
}
.brand{
    display: block;
    width: 100%;
    background: linear-gradient(#080808, #550606, #B51616);
    text-align: center;
    padding-bottom: 130px;
}
.brand img{
    
}
.text{
    color: #181818;
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    padding: 30px 40px;
    font-size: 25px;
    background: #cccccc;
    margin: 60px 62px 30px 62px;
    text-align: center;
    line-height: 30px;
}
.text1{
    color: #181818;
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    padding: 15px 40px;
    font-size: 25px;
    background: #cccccc;
    margin: 10px 62px;
    text-align: center;
    line-height: 30px;
}
.sns img{
    width: 100%;
}


/* 푸터 영역 */
footer{
    background-color: #270000;
    margin:300px 1200px;
}
