@charset "utf-8";


@media screen and (max-width:767px){
    
/* 헤더 영역 */
header{
    width:100%;
    z-index:1000;
    position:absolute;
    height:60px
}
.search > li{
    border-top: 1px solid #64090E;
}
.header_inner{
    background-color: #E30613;
    width:100%;
    position:relative;
}
.header_inner h1{
    text-align:center;
}
.header_inner h1 > img{
    cursor: pointer;
}
.total_btn{
    position:absolute;top:5px;
    font-size:2rem;
    padding:3px;
    cursor: pointer;
    color: #ffffff;
    left:440px;
}
legend{
    display:none;
}
.search{
    color: #ffffff;
    position:relative;
    width: 100%;
    left: 170px;
    background-color: #8E040C;
    width: 320px; height: 100%;
    position:absolute;
}
.g_nav{
    width: 100%;
    height: 0px;
    position:absolute;
    margin: 100px 0px 0px 0px;
    border-bottom: 3px solid rgba(90, 2, 6, 0.7);
}
.g_nav > li{
    display:block;
    text-indent: 10px;
    line-height: 60px;
    border-bottom: 3px solid rgba(90, 2, 6, 0.7);
}
.c_btn i.fa-times{
    position:absolute;
    top:3px; 
    font-size: 40px;
}
input{
    border: 1px solid #bbb;
    border-radius: 50px;
    padding: 11px 20px;
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 40px;
}
.search i.fa-search{
    position: absolute;
    font-size: 25px;
    margin: 0;
    top: 36px;
    left: 260px;
}




/* 메인 영역 */
main{

}
.slide{
    display:grid;
    grid-gap:20px 0px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "burger1 burger2"
    "chicken1 chicken2";
}
.slide .burger1{grid-area:burger1;}
.slide .burger2{grid-area:burger2;}
.slide .chicken1{grid-area:chicken1;}
.slide .chicken2{grid-area:chicken2;}

.slide img{
    padding-bottom:10px;
}

.set{
    padding: 40px 1.5%;
}
}
.set > ul{
    width:100%;
    text-align: center;
    padding-top:20px;
}
.set .mnew{
    text-align: center;
    width: 200px;
    padding: 15px 0px;
    color: #ffffff;
}
.set .mnew2{
    text-align: center;
    width: 100px;
    padding: 15px 0px;
    color: #ffffff;
    font-size: 12px;
}
.set > ul p{
    font-size:0.75rem;
    line-height: 180%;
}
.set > ul .price{
    font-weight:bold;
    /* text-align: right; */
    color: #ca0d0d
}
.mnew{
    background-color: #ff0000;
    text-align: center;
    border-radius: 100px;
    margin:10px auto;
}
.mnew2{
    background-color: #ea9926;
    text-align: center;
    border-radius: 100px;
    margin:0px auto;
}
.map{
    width:82%;
    padding: 0 43.5px 15% 43.5px;
    background: linear-gradient(#fff, #6e6e6e , rgb(46, 46, 46) , rgb(27, 27, 27), #000);
}
.map > h2{
    text-align: center;
    width: 200px;
    padding: 15px 0px;
    color: #ffffff;
}
.m_name{
    background-color: #ff0000;
    text-align: center;
    border-radius: 100px;
    margin:10px auto;
}
.map > iframe{
    padding-top: 20px;
}
.l_img .l_eatz > img{
    width:100%;
    bottom: 10px;
    cursor: auto;
}
.brand{
    display: block;
    width: 100%;
    background: linear-gradient(#000000, #000 , #360a0a, #B51616);
    text-align: center;
    padding-bottom: 70px;
    padding-top: 30px;
}
.brand img{
    padding-top: 20px;
}
.text{
    color: #fff;
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    padding: 30px 0px;
    font-size: 20px;
    margin: 0px 62px 10px 62px;
    text-align: center;
    line-height: 30px;
}
.text1{
    color: #181818;
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    padding: 5px 40px;
    font-size: 20px;
    background: #fff;
    border-radius: 100px;
    margin: -20px 140px;
    text-align: center;
    line-height: 30px;
}
.sns img{
    width: 100%;
}


/* 푸터 영역 */
footer{
    background-color: #270000;
    width:100%;
    position: relative;
    padding-top: 20px;
}
footer .f_logo{
    width:150px;
    padding-top: 20px;
}
.f_nav{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
    padding: 17px;
}
.footer_n{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
    position: relative;
}

.footer_h{
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
}
.footer_h nav{
}
.footer_h div{
    width:100%;
}
footer .menu{
    display: flex;
    justify-content: center;
}
footer .menu li{
    position:relative;
}
footer .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before{
    display: none;
}
footer a{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}
footer .menu li a.orange{
    color: #ea9926;
}
footer .info{
    margin-top: 30px;
    text-align: center;
}
footer .info span{
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child{
    margin-right: 0;
}
footer .copyright{
    color: #999;
    font-size:0.5rem;
    text-align: center;
    font-style:normal;
    line-height:15px;
    padding-bottom: 10px;
}
footer .copyright > p{
    text-align: center;
}